{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/basePage.css' %}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}">
    <title>MindMap</title> 
</head>
<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="{% static 'img/logo.png'%}" alt="">
            </div>

            <span class="logo_name">MindMap</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="{% url 'home' %}">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Dahsboard</span>
                </a></li>
                <li><a href="{% url 'upload_page' %}">
                    <i class="uil uil-cloud-upload"></i>
                    <span class="link-name">Upload</span>
                </a></li>
                <li><a href="{% url 'profile' %}">
                    <i class="uil uil-user"></i>
                    <span class="link-name">Profile</span>
                </a></li>
            </ul>
            
            <ul class="logout-mode">
            
  <form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit" class="logout-link">
      <i class="uil uil-signout"></i>
      <span class="link-name">Logout</span>
    </button>
  </form>
</li>
 
                <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                    <span class="link-name">Dark Mode</span>
                </a>

                <div class="mode-toggle">
                  <span class="switch"></span>
                </div>
            </li>
            </ul>
        </div>
    </nav>

   <section class="dashboard">
          {%  block content %}
         {% endblock %}
    </section> 
  
       
    <script src="{% static 'js/basePage.js' %}"></script>
</body>
</html>